@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.dropdown-menu .dropdown-item:focus {
  background-color: #212529;
}

div.dt-container div.dt-search input   {
  box-shadow: none;
  border-color: #212529 !important;
}

div.dt-container div.dt-length select {
  box-shadow: none;
  border-color: #212529 !important;
}

.dt-column-title {
  color: #212529;
}

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before {
  color: #212529;
}

table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after {
  color: #212529;
}

div.dataTables_wrapper div.dataTables_filter input {
border-radius: 5px;
border: 1px solid #212529;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
border-radius: 5px;
border: 1px solid #212529;
box-shadow: none;
}

.pagination .page-item.active .page-link {
background-color: #212529;
border-color: #212529;
color: white;
box-shadow: none;
}

.pagination .page-link {
margin-bottom: 10px;
}

.dt-button .buttons-copy .buttons-html5{
  border-color: #212529 solid;
}

/* Hide Edge's reveal (eye) icon */
input[type="password"]::-ms-reveal {
  display: none;
}
input[type="password"]::-ms-clear {
  display: none;
}

.readonly-input {
  pointer-events: none; /* prevents clicking/focusing */
}